
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}


header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contenedor-botones {
    display: flex;
    align-items: center;
}

.contenedor-botones a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.contenedor-botones a:hover {
    color: #ffca28; 
}

.home {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productos {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.colaboradores {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-imagen {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.box-imagen img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.whatsapp-button:hover {
    background-color: #128c7e; 
}

.contenedor-botones img{
    height: 40px;
    padding-left: 10%;
    padding-right: 30%;
}

.volver-arriba-button {
    display: inline-block;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    bottom: 20px;
    right: 20px;
    transform: translateY(100%);
}

.volver-arriba-button:hover {
    background-color: #0056b3; 
}

.volver-arriba-button::before {
    content: "\2191"; 
    margin-right: 5px;
}